
@{
    ViewData["Title"] = "Index";
}

 <ul>
    @foreach (Tarea tarea in ViewBag.Tareas)
    {
        <li>@tarea.titulo</li>
        <li>@tarea.descripcion</li>
        <li>@tarea.fecha</li>
       
  <a href='@Url.Action("FinalizarTarea", "Home", new { idTarea = tarea.Id })'>
    <button type="button">Finalizar</button>
</a>

<a href='@Url.Action("EliminarTarea", "Home", new { idTarea = tarea.Id })'>
    <button type="button">Eliminar</button>
</a>

<a href='@Url.Action("DActualizarTarea", "Home", new { idTarea = tarea.Id })'>
    <button type="button">Actualizar</button>
</a>
    }    
    <a href='@Url.Action("DCrearTarea", "Home")'>Crear tarea</a>
  
</ul>
